@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.button {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 10px;
  padding: 15px 15px;
  align-self: flex-end;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-family: "Baskerville Old Face", serif;
  font-size: @small;
  background-color: @gray25;
  color: @gray;
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0 0 0 @gray;
}

.button:hover{
  background-color: @gray50;
  color: @white;
}
