@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.questionBox {
  display: flex;
  padding-top: 20px;
}

.question {
  margin: 0;
  padding-bottom: 10px;
  font-size: @normal;
  letter-spacing: 0.5px;
}

.text {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}
p {
  margin: 0;
}

.answers {
  animation-name: opacity;
  animation-duration: 1.5s;
}

.answerItem {
  display: block;
  padding: 5px 0;
  font-size: @normal;
}

.answerItemActive {
  font-size: @regular;
}
.answerItemActive:after {
  content: '*';
  color: @accent;
  font-weight: bolder;
}

.icon {
  margin-right: 10px;
  color: @gray;
  transition-property: transform;
  transition-duration: 1.5s;
}

.iconOpen {
  margin-right: 10px;
  transform: rotate(-180deg);
  transition-property: transform;
  transition-duration: 1.5s;
}

.none {
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
