@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";
@import "../../styles/containers.module.less";

.box{
  .box();
}

.container{
  .container();
}
.newQuestion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text {
  margin: 0;
  padding-right: 10px;
}
