@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.title {
  padding: 20px;
  font-size: @regular;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0 8px 6px -6px @gray;
}
