@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.progressBar {
  margin: 5px 0;
  padding: 1px;
  width: 700px;
  height: 25px;
  border-radius: 50px;
  border: 1px solid @gray;
  color: @white;
}

.filler {
  height: 100%;
  border-radius: inherit;
  background: @gray75;
}

.percentCount {
  padding: 4px 10px;
  text-align: center;
  font-size: @x-small;
  font-family: sans-serif;
}

.fillerActive {
  background-color: @accent;
}
