@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.answerItem {
  display: block;
  padding: 5px 0;
  font-size: @normal;
}

.answerItemActive {
  font-size: @regular;
}

.answerItemActive:after {
  content: '*';
  color: @accent;
  font-weight: bolder;
}
