@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.buttons {
  margin-top: 30px;
  align-self: flex-end;
}
